<div class="navbar-container">
  <h2>Projects</h2>

  <ul>
    <li *ngFor="let project of dataService.projects">
      <button (click)="selectProject(project.name)">{{ project.name }}</button>

    </li>
  </ul>
  <button (click)="selectAllProjects()">Select All</button>
  <button (click)="open()" class="add">Add Project</button>
  <div *ngIf="addProjectOpen">
    <input type="text" name="" placeholder="Project name" #projectNameInput />
    <button class="add" (click)="addProject(projectNameInput.value)">
      Add
    </button>
  </div>
</div>
